{% extends 'base.html.twig' %}
{% block title %}Episode #{{ program.id }}{% endblock %}

{% block body %}
  <div class="media">
    <div class="media-body">
        <h1>{{ program.title }}, saison {{ season.number }}<h1>
        <h2> Episode {{ episode.number }} - "{{ episode.title }}"</h2>  
        <p>{{ episode.synopsis }}</p>
    </div>
  </div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}