{% extends 'base.html.twig' %}

{% block title %}All the programs{% endblock %}

{% block body %}
<h1>Tous les programmes disponibles </h1>
<div class="container mt-5">
    <div class="row">
        {% for program in programs %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
                <div class="card-body text-center">
                    <h5 class="card-title primary"> {{ loop.index }} {{ program.title }} - Catégories:
                        {{ program.category.name }}</h5>
                    <p class="card-text">{{ program.summary}}</p>
                    <a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        {% else %}
        Pas de programmes disponibles
        {% endfor %}
    </div>
</div>
</div>
</div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
