{% extends 'base.html.twig' %}
{% block title %}All episodes of season #{{ program.id }}{% endblock %}

{% block body %}
<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1>{{ program.title }} - Saison {{ season.number }}<h1>
                <h3>{{ season.description }}</h3>
                <p>Episodes : </p>
                {% for episode in episodes %}
                <div>
                    <a href="{{ path("program_episode_show", {"programId": program.id, "seasonId": season.id, "episodeId": episode.id })}}">{{episode.number}} ({{episode.title}})</a>
                </div>
                {% else %}
                <p>Pas d'épisodes disponibles</p>
                {% endfor %}

    </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}