{% extends 'base.html.twig' %}
{% block title %}Programs #{{ program.id }}{% endblock %}

{% block body %}
<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }}</h1>
        <p>{{ program.summary }}</p>
        <h2>Catégorie : {{ program.category.name }}</h2>
        {% for season in seasons %}
        <div>
            <a href="{{ path("program_season_show", {'program': program.id, 'season': season.id}) }}">
                <h3>Saison {{ season.number }} - {{ season.year }}</h3>
            </a>
            <p>{{ season.description }}</p>
        </div>
        {% else %}
        <p>Pas de séries disponibles</p>
        {% endfor %}
    </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %} 